.sideBar_container {
  width: 300px;
  background-color: transparent;
  height: max-content;
  display: flex;
  flex-direction: column;
}
.autoChooser_container {
  padding: 10px;
  font-weight: 500;
  font-size: 13px;
  font-family: alata, sans-serif !important;
  background-color: rgba(99, 99, 99, 0.2);
  border-radius: 3px;
}
.autoChooser_container > p:hover {
  background-color: rgba(255, 43, 43, 0.51);
}
.voted_container {
  padding: 10px;
  font-weight: 500;
  font-size: 13px;
  font-family: alata, sans-serif !important;
  background-color: rgba(99, 99, 99, 0.2);
  border-radius: 3px;
  margin-top: 20px;
}
@media (max-width: 915px) {
  .sideBar_container {
    width: 100%;
  }
}
