.layout_container {
  width: 1142px;
  background-color: black;
  margin: -10px auto 13px auto;
  padding: 15px;
  border-radius: 3px;
  color: white;
  display: flex;
  transition: 0.5s ease;
}
@media (max-width: 1160px) {
  .layout_container {
    width: 96% !important;
  }
}
@media (max-width: 1040px) {
  .layout_container {
    margin: -10px auto 0px auto !important;
  }
}
@media (max-width: 915px) {
  .layout_container {
    width: 100% !important;
    margin: -10px auto 13px auto !important;
    flex-direction: column;
  }
}
